:root {
    --primary-color: #E1983F;
    --secondary-color: #65BB61;
    --accent1-color: #C1B16B;
    --accent2-color: #FCD31F;
    --default-dark: #DDDAE9;
    

    --header-font: 'Ubuntu', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
}

body {
    grid-template-columns: auto 90% auto;
}


#typo-wrapper {
    grid-template-columns: 1fr 1fr;
}