:root {
    --primary-color: #3A3E52;
    --secondary-color: #855c7f;
    --accent1-color: #465281;
    --accent2-color: #131314;
    --default-dark: #DDDAE9;
    

    --header-font: 'Ubuntu', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
}

body {
    grid-template-columns: auto 90% auto;
}


#typo-wrapper {
    grid-template-columns: 1fr 1fr;
}