@media only screen and (min-width: 60em) {

    header button {
        display: none;
    }

    .social img {
        padding: 4px;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0.5rem;
    }

    .event,
    .weather,
    .join {
        grid-column: 1;
    }

    .event {
        grid-row: 1;
    }

    .event p {
        font-size: 0.75rem;
    }

    .weather {
        grid-row: 2;
    }

    .join {
        grid-row: 3;
    }

    .join-btn {
        width: 90%;
    }

    .hero,
    .news {
        grid-column: 2/4;
    }

    .hero {
        grid-row: 1/3;
    }

    .hero h3 {
        width: 80%;
        top: 18px;
        left: 18px;
    }

    .spotlights-container {
        grid-column: 4;
        grid-row: 1/4;
        flex-direction: column;
        height: 99.1%;
    }

    .spotlight:nth-child(3) {
        display: block;
    }

    .spotlight {
        height: 190px;
    }

    .spotlight p {
        font-size: .8rem;
    }

    footer {
        margin: 1rem auto 0;
    }

    .visits {
        font-size: 1.1rem;   
    }

    .image-gallery h3 {
        font-size: 1.5rem;
    }

    .image-gallery p {
        font-size: 1.1rem;
    }

    .plans-description {
        font-size: 1.1rem;
    }

    .join-container h2 {
        font-size: 1.75rem;
    }

    .join-container h3 {
        font-size: 1.5rem;
    }

    .join-form {
        font-size: 1.1rem;
    }

    .join-submit {
        margin-left: 8.5rem;
    }

    .directory-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-container h2 {
        font-size: 1.75rem;
    }

    .contact-container h3 {
        font-size: 1.5rem;
    }

    .contact-form {
        font-size: 1.1rem;
    }
}