:root {
  --primary-dark-color: #3A3E52;
  --secondary-dark-color: #855c7f;
  --accent-dark-color-1: #465281;
  --accent-dark-color-2: #131314;
  --light-text-color: #DDDAE9;
  --dark-text-color: #FFFFFF;

  --header-font: 'Ubuntu', sans-serif;
  --paragraph-font: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 { font-family: 'Ubuntu', sans-serif; }
section, p, li, a, input, option, select, label, legend { font-family: 'Montserrat', sans-serif; }



* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

.banner {
  display: none;
  margin: 0 auto;
  color: var(--dark-text-color);
  background-color: var(--secondary-dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 0.8rem;
  width: 100%;  
}

/* HEADER */

html {
  background-image: linear-gradient(to bottom, #d3c3b1,  #adaa92, #b4a4b3, #634a5f);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr auto auto;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  /* max-width: 1024px; */
  color: white;
  background-color: var(--primary-dark-color);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  text-align: center;
  font-size: 0.8em;  
  
}

.header-logo {
  grid-column: 1/5;
  display: flex;
  justify-content: space-around;
  font-family: 'Ubuntu', sans-serif;
  width: 80%;
  border-radius: 10px;
}

.header-logo * {
  margin: 0;
  border-radius: 90px;
}

.header-logo a {
  display: contents;
}

.header-logo img {
  max-width: 180px;
  margin: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 60%;
}

.header-logo div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* logo */
  width: 55%;

}

.header-logo h1 {
  font-size: 2em;
}

.header-logo h2 {
  font-size: 1.6em;
  font-weight: normal;
  letter-spacing: 0.5px;
}

header button {
  align-self: center;
  grid-column: 1;
  cursor: pointer;
  font-size: clamp(1.1rem, 3.25vw, 1.5rem);
  margin: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4px;
  background-color: #FFFFFF;
  color: black; 
}

.date {
  grid-column: 2/6;
  font-size: 1.3em;
  margin: 4px;
  padding: 4px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.social {
  grid-column: 6;
  align-self: center;
  justify-content: center;
  display: flex;
  
}

.social img {
  width: 32px;
  padding: 2px;
  border-radius: 90px;
}

nav {
  width: 100%;
  background-color: var(--primary-dark-color);
  margin: 0 auto;
  max-width: 1024px;
  grid-column: 1/7;
}

#ham-btn span:nth-child(1) {
  display: block;
}
#ham-btn span:nth-child(2) {
  display: none;
}

#ham-btn.open span:nth-child(1) {
  display: none;
}
#ham-btn.open span:nth-child(2) {
  display: block;
}

nav ul {
  width: 100%;
  display: none;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* raya */
  border-top: 1px solid rgba(39, 36, 36, 0.3);
  font-size: 1em;
}

.open {
  display: inline-block;
}

nav ul li a {
display: block;
color: #FFFFFF;
text-align: center;
padding: 0.70rem;
text-decoration: none;
font-family: 'Ubuntu', sans-serif;
}

/* BaNER */
nav ul li a:hover,
nav ul li a:focus {
  color: rgb(227, 204, 233);
  background-color: var(--secondary-dark-color);
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
}

/* Color HOME */
.active a {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1024px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin: 5px;
  color: black;
}

.join,
.spotlight:nth-child(3) {
  display: none;
  
}

.box {
  box-sizing: border-box;
  margin: 2px;
  border: 1px solid rgba(12, 11, 11, 0.3);
  padding: 8px;
  background-color: lightgray;
}

.box h3, p{
  margin: 0em;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Ubuntu', sans-serif;
}

.join-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #232323;
  background-color: rgb(159, 161, 31);
  cursor: pointer;
}

.join-btn:hover,
.join-btn:active {
  color: white;
  background-color: rgb(170, 132, 83);
  border: 1px solid black;
}

.hero {
  position: relative;
  height: auto;
  border-radius: 15px;
}    

.hero picture img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}

.hero h3 {
  position: absolute;
  top: 16px;
  left: 16px;
  margin: 0;
  padding: 0.5rem;
  color: #3A3E52;
  text-align: center;
  font-family: "Ubuntu", Sans-serif;
  font-size: 150%; 
}

.hero .join-btn {
  position: absolute;
  bottom: 18px;
  right: 18px;
  width: fit-content;
}

.event {
  text-align: center;
  border: 1px solid rgba(12, 11, 11, 0.3);

}

.event h3 {
  margin: 0 0 .25em;
  
}

.event a {
  color: rgb(110, 49, 110);
  border: 1px solid rgba(12, 11, 11, 0.3);
  font-family: 'Ubuntu', sans-serif;

}

.event a:visited {
  color: purple;
  
}

.event p {
  margin: 0;
  font-size: 0.9rem;
  font-family: 'Ubuntu', sans-serif;
}

.weather {
  text-align: center;
  font-size: 0.9rem;
  border: 1px solid rgba(12, 11, 11, 0.3);
  background-color: rgb(184, 167, 171);
  
}

.weather figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: -0.5rem 0.25rem 0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: .5em;
  
}

.weather figure p {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.weather figcaption {
  grid-column: 1/3;
  
}

.news p {
  margin: .5em 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-size: 0.9rem;
  font-family: 'Ubuntu', sans-serif;

}

.spotlights-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4px;
  color: black;
  height: 450px;
  
  
}

.spotlight {
  margin: 4px;
  border: 1px solid rgba(12, 11, 11, 0.3);
  padding: 8px;
  background-color: rgb(255, 255, 255, 0.1);
  height: 250px;
  text-align: center;
  
}

.spotlight h3 {
  margin: 0 0 .25em;
  
}

.spotlight p {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.slogan {
  border-bottom: 1px solid gray;
  
}

footer {
  margin: 0.5rem auto 0;
  /* max-width: 1024px; */
  color: white;
  background-color: var(--primary-dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  
  
}

.footer-logo * {
  margin: 0;
  border-radius: 90px;
  font-family: 'Ubuntu', sans-serif;
}

.footer-logo a {
  display: contents;
  
}

.footer-logo img {
  width: 50%;
  max-width: 180px;
  margin: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Ubuntu', sans-serif;
}

.contact-info * {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* Location map color */
.contact-info a {
  text-decoration: none;
  color: white;
}

.web-info {
  margin-top: 1rem;
  padding: 8px;
  background-color: var(--primary-dark-color);
  color: #FFFFFF;
}

.visits {
  margin: 0 auto;
  max-width: 1024px;
  color: #FFFFFF;
  background-color: var(--primary-dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 0.2rem;
}

/* discover
 */
section.demographics {
  background-color: rgba(177, 117, 107, 0.7);
  max-width: 300px;
  text-align: center;
  /* margin-left: 56%; */

}

/*  */
section h2 {
  text-align: center;

}
  
.image-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin: 5px;
}

.image-gallery h3 {
  color: gray;
  font-size: 1.25rem;
}

.image-gallery img {
  filter: blur(0em);
  transition: filter 0.5s;
  width: calc(100vw - 10px);
  max-width: 1024px;
  border: 3px solid rgba(11, 7, 44, 0.3);
  border-radius: 5px;
  
}

.image-gallery img[data-src] {
  filter: blur(0.2em);
  
}

.join-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px;
  padding: 5px;
}

.join-container h2,
.join-container h3,
.join-container h4 {
  color: gray;
  
}

.join-container h3 {
  font-size: 1.25rem;
  font-family: "Ubuntu", "Sans-serif";
  
}

.join-container h4 {
  margin-top: -1rem;
  font-family: "Ubuntu", "Sans-serif";

}

.join-container h3:nth-of-type(1) {
  color: #232323;
  font-family: "Ubuntu", "Sans-serif";

}

.join-container h3:nth-of-type(2) {
  color: #af6d2c;
}

.join-container h3:nth-of-type(3) {
  color: #757575;
  font-family: "Ubuntu", "Sans-serif";

}

.join-container h3:nth-of-type(4) {
  color: #aa9847;
}

.join-form {
  display: block;
  text-align: center;
}

.join-form h2 {
  text-align: start;
  font-family: "Ubuntu", "Sans-serif";

}

label,
input,
textarea,
main button,
select {
  padding: .75rem;
  width: 90%;
  display: inline-block;
  color: #232323;
  text-align: left;
}

input,
select,
textarea {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

textarea {
  resize: none;
  height: 12rem;
}

.join-submit {
  width: 7.5rem;
  height: 3rem;
  border: none;
  background-color: var(--primary-dark-color);
  color: #FFFFFF;
  border-radius: 16px;
  margin: 0 0 .5rem;
  margin-left: -1.5rem;
  text-align: center;
  cursor: pointer;
}

.join-submit:focus,
.join-submit:hover {
  background-color: var(--primary-dark-color);
  color: gray;
  font-weight: bold;
}

.required {
  color: red;
  font-weight: bold;
}

.thank-you {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  
}

.toggle-btn {
  width: auto;
  margin: 1rem;
  border: none;
  border-radius: 16px;
  padding: 1rem;
  background-color: var(--primary-dark-color);
  color: white;
  text-align: center;
  cursor: pointer;
  
}

.toggle-btn:focus,
.toggle-btn:hover {
  background-color: rgb(136, 62, 90);
  color: rgb(192, 192, 120);
  font-weight: bold;
  
}

.directory-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.directory-grid section {
  text-align: center;
  margin: 8px;
  border: 3px solid rgba(20, 19, 19, 0.3);
  border-radius: 10px;
  padding: 0.5rem;
  background-color: white;
}

.directory-grid section h3 {
  margin: 0.5rem 0;
  background-color: var(--primary-dark-color);
  font-size: 1.2rem;
  background-color: white;
}

.directory-grid section img {
  height: 100px;
}

.directory-grid section p {
  margin: 0.5rem 0;
  
}

.directory-list {
  display: flex;
  flex-direction: column;
  
}

.directory-list img,
.directory-list p:nth-of-type(1) {
  display: none;
  
}

.directory-list section {
  text-align: start;
  margin: 4px 0;
  padding: 0.5rem;
  color: black;
}

.directory-list section:nth-of-type(odd) {
  background-color: #d8d4d5;
}

.directory-list section h3 {
  margin: 0.5rem 0;
  color: rgb(37, 33, 33);
  font-size: 1.2rem;
}

.directory-list section p {
  margin: 0.5rem 0;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px;
  padding: 5px;
  gap: 8px;
}

.contact-container h2,
.contact-container h3 {
  color: gray;
  margin: 0.5em 0;
}

.info {
  display: inherit;
}

iframe {
  display: block;
  width: 95%;
  justify-self: center;
}

fieldset {
  border-radius: 8px;
  text-align: center;
}

.contact-submit {
  width: 7.5rem;
  height: 3rem;
  border: none;
  background-color: var(--primary-dark-color);
  color: #FFFFFF;
  border-radius: 16px;
  margin: 0 0 .5rem;
  margin-left: -1.5rem;
  text-align: center;
  cursor: pointer;
}

.contact-submit:focus,
.contact-submit:hover {
  background-color: var(--primary-dark-color);
  color: gray;
  font-weight: bold;
}