
html {
    background-image: linear-gradient(to bottom, #8ee4d8, #465281);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}   

body{

    font-family: 'Montserrat', sans-serif;
    padding: 3em;
    font-size: 16px;
    overflow: hidden scroll;
}

.container {
    max-width:90%;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 1.2em;
    box-shadow: 0 3px 3px rgba(4, 5, 5, .4);
}

footer{
    background-color: #3a3e52;
    color: #fff;
    text-align: center;
    padding: .5em;
    border-radius: .8em;
    text-shadow: 0 3px 3px rgba(194, 165, 231, 0.5);
    height: 90px;
    padding-top: 46px;
    box-shadow: 0 3px 3px rgba(16, 17, 17, 0.4);
    font-size: 1em;;
}

header{
    background-color: #3a3e52;
    color: #fff;
    text-align: center;
    padding: .9em;
    border-radius: .8em;
    text-shadow: 0 3px 3px rgba(4, 3, 3, .5);
    height: 150px;
    box-shadow: 0 3px 3px rgba(4, 5, 5, .4);


}

header img{
    float: none;
    max-width: 9em;
    box-shadow: 0 3px 3px rgba(3, 3, 3, .4);
    box-shadow: 5px 5px 10px black;


}

header h1{
    margin:0;
    font-size: 1.8em;
}

main{
    padding: 1em;
}

main h2{
    color: rgb(39, 39, 41);
    border-bottom: 2px solid #363232;
    font-size: 1.2em;
    
}

main ul li{
    line-height: 1.8;
}

footer a{
    color: #fff;
}

footer p:last-of-type{
    color: #FFEFB8;
    font-weight: 400;
}

  /* medium */
/* @media only screen and (min-width: 32.5em){

    .container {
        max-width:65%;
    }

    header img {
        float: left;
        max-width: 8em;
        height: 150px;
        border-radius: .4em;

    }

    header h1 {
        font-size: 2.5em;
        
    }

    main h2 {
        font-size: 1.8em;
    }
} */